.container {
  position: relative;
  background: #fff;
  display: flex;
}

.container * {
  box-sizing: border-box;
}

.container.fullWidthMap .searchBox{
  position: absolute;
}

.map {
  border: 1px solid #d7d7d7;
  background-color: rgb(229, 227, 223);
  height: 500px;
  flex: 1;
}

.infoWindow {
  max-width: 200px;
}

.infoWindow h4 {
  margin: 0 0 5px;
  padding: 0;
}

.searchBox {
  position: absolute;
  border: 1px solid #d7d7d7;
  border-right: 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
  top: 15px;
  bottom: 30px;
  left: 10px;
  width: 350px;
  background: #fff;
  z-index: 1;
  max-height: 500px;
}

.storesList {
  /* border: 1px solid #d7d7d7; */
  list-style: none;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.storesList::-webkit-scrollbar {
  width: 10px;
}
.storesList::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.storesList::-webkit-scrollbar-thumb {
  background: #888; 
}
.storesList::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.storesList li {
  background: #f8f8f8;
    color: #333333;
    padding: 15px;
    margin: 0 0 1px 0;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
    position: relative;
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.storesList .hiddenStore {
  opacity: 0.3;
}

.storesList .activeStore {
  background: #ebebeb;
  opacity: 1;
}

.storesList li h4 {
  margin: 0 0 5px;
  font-size: 1em;
}

.storesList li address {
  margin: 0 0 10px;
}

.searchInput {
  border: 1px solid #d7d7d7;
  position: relative;
  margin-bottom: 10px;
}

.searchInput input {
  border: 0;
  background: #ffffff;
  line-height: 36px;
  height: 36px;
  width: 100%;
  padding: 0 36px 0 15px;
  font-size: 1em;
  outline: none;
}

.searchIcon {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 16px;
}

.searchHint {
  margin-bottom: 10px;
  padding: 0 2px 0;
  font-size: 0.9em;
  color: #696969;
}

.storeActions {
  text-transform: uppercase;
  font-size: 0.9em;
}

.storeActions a {
  margin-right: 10px;
  text-decoration: none;
  color: #999999;
  transition: color 0.2s ease;
}

.storeActions a:hover {
  color: #000;
}

.storeActions a:hover svg {
  fill: #000;
}

.storeActions a svg {
  vertical-align: middle;
  margin-right: 3px;
  fill: #999999;
  transition: fill 0.2s ease;
}

.storeDistance {
  color: #999999;
  font-size: 0.9em;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .searchBox {
    padding: 10px;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: auto;
    width: auto;
  }

  .storesList {
    position: absolute;
    top: 350px;
    left: -11px;
    right: -11px;
    height: 250px;
  }

  .map {
    height: 350px;
  }

  .searchHint {
    display: none;
  }

  .searchInput {
    margin-bottom: 0;
  }

  .container {
    padding-bottom: 270px;
  }
}
